@model IList<MVC_Auth_5._0.ViewModels.SelectedBook>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

@{
    
}

<form asp-action="Books">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].IsSelected)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Book.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Book.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Book.Codes)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var book = Model[i].Book;
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => Model[i].Book.Id)
                        @Html.EditorFor(modelItem => Model[i].IsSelected)
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => Model[i].Book.Title)                        @(book.Title + "dsaddad") *@
                        @Html.DisplayFor(modelItem => book.Title)                        @(book.Title + "dsaddad")
                        @(book.Title + "dsaddad")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Book.Description)
                    </td>
                    @* <td>@Html.Raw(string.Join("<br/>", Model[i].Book.Codes.Select(Html.Encode)))</td> *@
                    <td>@Html.ListBoxFor(
                            modelItem => modelItem[i].Book.Codes,
                            Model[i].Book.Codes.Select(c => new SelectListItem(c, c)),
                            new { disabled = true })</td>

                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>