@using MVC_Auth_5._0.Data
@model IEnumerable<Author>

@{
    ViewData["Title"] = "Authors";
}

@section Scripts {
    <script src="https://jspm.dev/lodash@4"></script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName(nameof(Author.Name))</th>
            <th>@Html.DisplayName(nameof(Author.EmailAddress))</th>
            <th>@Html.DisplayName(nameof(Author.BirthDate))</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach(var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress, "Email")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate, "Date")
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
